# Compiled files
/paper/paper.pdf
/group-list.pdf

# Datasets
/datasets/real/*
/datasets/synthetic/logins0
/datasets/synthetic/logins0-outliers
/datasets/synthetic/logins1
/datasets/synthetic/logins1-outliers
/datasets/synthetic/logins2
/datasets/synthetic/logins2-outliers
/datasets/synthetic/logins
/datasets/synthetic/fizzbuzz

# Temp files
*.aux
*.bbl
*.blg
*.log
*.out

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Samples
/samples/

# Project files
/.ropeproject/
