/paper/paper.pdf
/datasets/real/csail-tiny.txt
/datasets/real/csail.txt
/fizzbuzz
/datasets/synthetic/logins0
/datasets/synthetic/logins0-outliers
/datasets/synthetic/logins1
/datasets/synthetic/logins1-outliers
/datasets/synthetic/logins2
/datasets/synthetic/logins2-outliers
/datasets/synthetic/logins
/datasets/synthetic/fizzbuzz
*.aux
*.bbl
*.blg
*.log
*.out

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Samples
/samples/
/datasets/real/intel/

# Project files
/.ropeproject/
